# Jupyter
.ipynb_checkpoints/

# Environnement
.env.local
.env
venv/
__pycache__/
*.pyc

# Fichiers audio (trop lourds pour Git)
input/*
!input/.gitkeep

# Outputs générés automatiquement
outputs/*
!outputs/.gitkeep

# Docker
*.dockerignore

# OS
.DS_Store
Thumbs.db